<template name="gallery_in_feed">
<div class="gallery_in_feed">
	<h2>{{name}}</h2> by {{username}}<br>
	
	{{#if isOwner}}
		<button type="button" class="editGallery" value="{{_id}}">Edit</button><br>
	{{else}}
		{{#if currentUser}}
			{{#if open}}
				<!--if the user is logged in and the gallery accepts submissions, show the submission button-->
				<button type="button" class="submitAnImg" value="{{_id}}">Submit an image</button><br>
			{{/if}}
		{{/if}}
	{{/if}}
	
	{{description}}<br>
	<div class='featured'>
		<strong>Featured: </strong><br>
		{{#each getFeatured}}
			{{> imgBoxF}}
		{{/each}}
	</div>
	<div class='regular'>
		<strong>Other: </strong><br>
		{{#each getRegImages}}
			{{> imgBox}}
		{{/each}}
	</div>
</div>
</template>

<template name="imgBox">
	<div class="imgBox">
		<a href="{{this.url store='images'}}" target="_blank"><img src="{{this.url store='thumbs'}}" alt="{{this.name}}" class="thumbnail" /></a><br>
		{{this.name}}<br>
		Caption: {{this.caption}}<br>
	</div>
</template>

<!--featured images get slightly different css-->
<template name="imgBoxF">
	<div class="imgBoxF">
		<a href="{{this.url store='images'}}" target="_blank"><img src="{{this.url store='thumbs'}}" alt="{{this.name}}" class="thumbnail" /></a><br>
		{{this.name}}<br>
		Caption: {{this.caption}}<br>
	</div>
</template>