<template name="gallery_in_feed">
<div class="gallery_in_feed">
	<h2>{{name}}</h2> by {{username}}<br>
	
	{{#if isOwner}}
		<button type="button" class="editGallery" value="{{_id}}">Edit</button><br>
	{{else}}
		{{#if currentUser}}
			<button type="button" class="submitAnImg" value="{{_id}}">Submit an image</button><br>
		{{/if}}
	{{/if}}
	{{description}}<br>
	<!--<strong>Featured: </strong><br>
		{{featured}}
		{{> gallery_grid imgIds=featured isFeatured=true galleryId=_id}}
	<strong>Other: </strong><br>
		{{regImages}}
		{{> gallery_grid imgIds=regImages isFeatured=false galleryId=_id}}-->
	<div class="gallery_grid">
		<table class="gg_grid">
			<tbody class='gg_grid_body' id='gg_grid_body'>
				{{loadImages}}
			</tbody> 
		</table>
	</div>
</div>
</template>