<template class="upload_box" name="upload_box">
	<div id="upload-box">
		<form id="upload-form" method="post" enctype="multipart/form-data">
			Select image to upload:
			<input type="file" name="image-to-upload" id="image-to-upload" /><br>
			<input type="text" placeholder="optional caption" name="image-to-upload-caption" id="image-to-upload-caption" /><br>
			<input type="submit" value="Upload" name="upload-submit" />
		</form><br>
		<!--below from http://experimentsinmeteor.com/photo-blog-part-1/ for testing-->
		<div class="row">
			<div class="col-md-12">
			  <div id="dropzone" class="dropzone">
				<div class="well well-drop-zone">
				  Drop file(s) here to upload
				</div>
			  </div>
			</div>
		  </div>
	</div>
</template>