<template name="uploads_grid">
	<div class="uploads_grid">
		<h2>Your Uploads</h2>
		<button type='button' id='goto-upload'>Upload new images</button><br><br>
		{{#each uploads}}
			{{> imgBoxU}}
		{{/each}}
		<!--<table id="ug_grid">
			<tbody id='ug_grid_body'>
				{{loadUploads}}
			</tbody> 
		</table>-->
	</div>
</template>

<template name="imgBoxU">
	<div class="imgBoxU">
		<a href="{{this.url store='images'}}" target="_blank"><img src="{{this.url store='thumbs'}}" alt="{{this.name}}" class="thumbnail" /></a><br>
		{{this.name}}<br>
		Caption: {{this.caption}}<br>
		<button type='button' class='edit_button' value={{this._id}}>Edit</button>
		<button type='button' class='delete_button' value={{this._id}}>Delete</button>
	</div>
</template>